* {
    box-sizing: border-box;
  }
/* .openBtn {
    display: flex;
    justify-content: left;
  }
  .openButton {
    border: none;
    background-color: #1c87c9;
    color: white;
    padding: 14px 20px;
    cursor: pointer;
    position: fixed;
  }
  .loginPopup {
    position: relative;
    text-align: center;
    width: 100%;
  }
  .formPopup {
    display: none;
    position: fixed;
    left: 45%;
    top: 5%;
    transform: translate(-50%, 5%);
    border: 3px solid #999999;
    z-index: 9;
  }
  .formContainer {
    max-width: 300px;
    padding: 20px;
    background-color: #fff;
  }
  .formContainer input[type=text],
  .formContainer input[type=password] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 20px 0;
    border: none;
    background: #eee;
  }
  .formContainer input[type=text]:focus,
  .formContainer input[type=password]:focus {
    background-color: #ddd;
    outline: none;
  }
  .formContainer .btn {
    padding: 12px 20px;
    border: none;
    background-color: #8ebf42;
    color: #fff;
    cursor: pointer;
    width: 100%;
    margin-bottom: 15px;
    opacity: 0.8;
  }
  .formContainer .cancel {
    background-color: #cc0000;
  }
  .formContainer .btn:hover,
  .openButton:hover {
    opacity: 1;
  } */

  .popupaddelements{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 100000;
    display: flex;
    justify-content: center;
    align-items: center;
    
  }
  .popupbackground{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100vw;
    background-color: #30626f6e;
    backdrop-filter: blur(2px);
  }
  .Popup .openandclose{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .openclose i{
    color: black;
  }

  .popupform{
    background-color: #fdfdfd;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30rem;
  }

  .addfiles{
    list-style: none;
  }
  .addfiles a{
    text-decoration: none;
    padding: 5px;
    padding-left: 16px;
    padding-right: 16px;
    border-radius: 100rem;
    font-weight: bolder;
    font-size: small;
    color: #2d7c90;
    background-color: #6fa9b754;
}