* {
    margin: 0;
    padding: 0;
    border: none;
    
}
body{
    background-color: #FEFEFE;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

header{
    display: flex;
}

.side{
    width: 15rem;
    background-color: #006B7F;
    height: 200vh;
    overflow: auto;
    box-shadow: 4px -2px 11px #657695;
}
.side p{
    text-transform: uppercase;
    font-size: x-small;
    color: azure;
    margin-left: 20px;
    padding-top: 70px;
}
.side .logo{
    display: flex;
    align-items: center;
    text-transform: uppercase;
    font-weight: bolder;
    color: azure;
    height: 3.5rem;
}
.side .logo img{
    width: 4rem;
}
.side .colaboration {
    list-style: none;
    text-decoration: none;
}
.side .colaboration a{
    padding-bottom: 10px;
    padding-top: 10px;
    padding-left: 20px;
    color: #FEFEFE;
    font-size: small;
    display: flex;
    text-decoration: none;
}

.user{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #6FA9B7;
    height: 4rem;
    color: #FEFEFE;
}
.user i{
    font-size: xx-large;
    padding-left: 10px;
    padding-right: 10px;
}

.options{
    text-decoration: none;
    display: flex;
    justify-content: space-evenly;
    padding-top: 20px;
    padding-bottom: 20px;
}
.options a{
    text-decoration: none;
    color: beige;
}

#espace{
    margin-bottom: 10px;
    border-top: 1px solid #FEFEFE;
    
}
.colaboration img{
    height: 20px;
    margin-right: 5px;
}
.colaboration a:hover{
    background-color: #226f7f;
}

#compte{
    text-transform: uppercase;
    font-size: x-small;
    color: #FEFEFE;
    margin-left: 20px;
    margin-top: 70px;
}
.comptes{
    list-style: none;
    text-decoration: none;
}
.comptes a{
    list-style: none;
    text-decoration: none;
    color: #FEFEFE;
    /* padding-bottom: 20px; */
    padding-top: 10px;
    padding-left: 20px;
    font-size: small;
    display: flex;
    text-decoration: none;
}

.body_containt{
    flex-grow: 1;
}
.nav_1{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 4rem;
    padding-right: 10px;
    
}
.nav_1 .logo2{
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-transform: uppercase;
    font-weight: bold;
    padding-left: 10px;
    
}
.nav_1 img{
    height: 3rem;
    padding-right: 10px;
}
.nav_1 li{
    list-style: none;
    text-decoration: none;
}
.nav_1 a{
    text-decoration: none;
    padding: 10px;
    padding-left: 16px;
    padding-right: 16px;
    border-radius: 100rem;
    font-size: small;
    color: #6FA9B7;
    background-color: #6fa9b754;
}
.nav_2{
    box-shadow: 1px -4px 12px -5px #657695;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #006B7F;
    height: 2.9rem;
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
}
.nav_2 a{
    text-decoration: none;
    color: #FEFEFE;
    padding-top: 13px;
    padding-bottom: 13px;
    font-size: small;
    
}
.nav_2 a:hover{
    border-bottom: 3px solid #FEFEFE;
}

.container{
    margin: 30px 0px 0px 0px;
    height: 83vh;
    box-shadow: 0px 0px 13px 0px #657695;
}