{% extends "tutore/filesI.html" %}


{% block content %}
<table class="table table-borderless">
    <thead class="border-bottom font-weight-bold">
        <tr>
            <td>Full Name</td>
            <td>description</td>
            <td>Document</td>
            <td>
                <a href="{% url 'files_insert' %}" class="btn btn-outline-success">
                    <i class="fas fa-plus"></i> Add
                </a>
            </td>
        </tr>
    </thead>
    <tbody>
        {% for files in files_list %}
            <tr>
                <td>{{files.title}}</td>
                <td>{{files.image}}</td>
                <td>{{files.sub_categort}}</td>
                <td>
                    <a href="{% url 'files_update' files.id %}" class="btn text-secondary px-0">
                        <i class="far fa-edit fa-lg"></i>
                    </a>
                    <form action="{% url 'files_delete' files.id %}" method="post" class="d-inline">
                        {% csrf_token %}
                        <button type="submit" class="btn">
                            <i class="far fa-trash-alt fa-lg text-danger float-right"></i>
                        </button>
                    </form>
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock content %}