* {
    margin: 0;
    padding: 0;
    border: none;
    
}
body{
    background-color: #FEFEFE;
    /* font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; */
}

header{
    display: flex;
}



.body_containt{
    flex-grow: 1;
}



.container{
    margin: 30px 0px 0px 0px;
    height: 83vh;
    box-shadow: 0px 0px 13px 0px #657695;
}

.cards{
    display: flex;
    flex-wrap: wrap;
    margin: 40px
}