<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inscription</title>
    <link rel="stylesheet" href="{%static 'style/signup.css'%}">
</head>
<body>
    <form method='POST'>
        {% csrf_token %}
        <div class="form">
            <div class="title_form-inscrip">
                INCRIVEZ VOUS
            </div>
            <div class="container_form-inscrip">
                <ul>
                    <li><input class="text" type="text" id="username" type="text" name="username" placeholder="Nom "></li>
                    <br>
                    
                    <li><input class="text"  id="usermail" type="email" name="usermail" placeholder="Adresse email"></li>
                    <br>
                    
                    <li><input class="text"type="text" name="password" id="password" placeholder="Mot de passe"></li>
                    <br>
                </ul>
    
                <button type="submit">S'inscrire</button>
    
            </div>
        </div>
    <form/>
</body>
</html>