body {
  background-image: url("images/4.avif");
  background-repeat: no-repeat;
  background-size: cover;
}

form>img {
  margin-top: 5rem;
  display: flex;
  margin-right: auto;
  margin-left: auto;
}

.register input {
  outline: 0;
  width: 300px;
  height: 40px;
  padding-left: 20px;
  display: block;
  margin-bottom: 30px;
  margin-right: auto;
  margin-left: auto;
  border: 1px solid skyblue;
}

.register a {
  width: 320px;
  height: 40px;
  margin-bottom: 30px;
  border: 1px solid skyblue;
  background: skyblue;
  color: white;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: auto;
  margin-left: auto;
}

.register button {
  width: 320px;
  height: 40px;
  border: 1px solid skyblue;
  background: skyblue;
  color: white;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: auto;
  margin-left: auto;
}

.register button:hover {
  width: 320px;
  height: 40px;
  background: rgb(71, 179, 221);
  color: white;
  cursor: pointer;
}

form>img {
  display: flex;
  margin-right: auto;
  margin-left: auto;
}

.register input {
  outline: 0;
  width: 300px;
  height: 40px;
  padding-left: 20px;
  display: block;
  margin-bottom: 30px;
  margin-right: auto;
  margin-left: auto;
  border: 1px solid skyblue;
}

.register a {
  width: 320px;
  height: 40px;
  margin-bottom: 30px;
  border: 1px solid skyblue;
  background: skyblue;
  color: white;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: auto;
  margin-left: auto;
}

.register button {
  width: 320px;
  height: 40px;
  border: 1px solid skyblue;
  background: skyblue;
  color: white;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: auto;
  margin-left: auto;
}

.register button:hover {
  width: 320px;
  height: 40px;
  background: rgb(71, 179, 221);
  color: white;
  cursor: pointer;
}