.nav_1{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 4rem;
    padding-right: 10px;
    
}
.nav_1 .logo2{
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-transform: uppercase;
    font-weight: bold;
    padding-left: 10px;  
}
.nav_1 img{
    height: 3rem;
    padding-right: 10px;
}
.nav_1 li{
    list-style: none;
    text-decoration: none;
}
.nav_1 a{
    text-decoration: none;
    padding: 10px;
    padding-left: 16px;
    padding-right: 16px;
    border-radius: 100rem;
    font-size: small;
    color: #6FA9B7;
    background-color: #6fa9b754;
}

button{
    text-decoration: none;
    padding: 10px;
    padding-left: 16px;
    padding-right: 16px;
    border-radius: 100rem;
    font-size: small;
    color: #6FA9B7;
    background-color: #6fa9b754;
}